@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*File import*/
@import 'mixins';
/*SCSS Variables (Font sizes)*/
$hero-heading-font-size: clamp(1.2rem, 7vw, 3rem);
$hero-intro-font-size: clamp(1.2rem, 5vw, 1.8rem);
$heading-font-size: 1.4rem;
$sub-heading-font-size: 1.125rem;
$button-font-size: 0.875rem;
$paragraph-font-size: 1rem;
$span-font-size: 0.713rem;
$nav-font-size: 0.9rem;
/*SCSS Variables (Color pallete)*/
$white-bg: #FBFBFB;
$primary-color: #263138;
$secondary-color: #445964;
$onhover-color-1: #35434D;
$onhover-color-2: #9b9b9b;
$light-color:  #8c9fa9;
$low-opacity-color: rgba(68, 89, 100, 0.1);
$nav-link-color: rgba(38, 49, 56, 0.7);
/*Other utilities*/
$transition-175s: all 175ms ease-in-out;
$nav-height: 5rem;
$sb-size: 8px;
* {
  font-family: 'Outfit', sans-serif !important;
}
html, body {
  scroll-behavior: smooth;
  width: 100% !important;
  overflow-x: hidden !important;
  background-color: $white-bg;

  h1, a, h2, h3, h4, h5, h6, p, span {
    color: $secondary-color;
    text-decoration: none !important;
    margin: 0 !important;
  }
}
body {
  scrollbar-color: $secondary-color $white-bg;
}
body::-webkit-scrollbar {
  width: $sb-size;
}
body::-webkit-scrollbar-track {
  background: $white-bg;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 10px;
}
#home {
  height: calc(var(--vh, 1vh) * 100);
}
#about-me,
#projects,
#contact {
  min-height: 100vh;
  padding: $nav-height 3% 0 !important;
}
/*Navigation design*/
.primary-header {
  position: fixed;
  z-index: 1;
  height: $nav-height;
  transition: $transition-175s;
}
.scrolled-navbar {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(6px);
}
.navbar {
  padding: 0 2% !important;
}
.nav-container {
  .nav-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      width: 40px;
    }
    .owner {
      font-weight: 900;
      font-size: $heading-font-size + 0.23rem;
      color: $secondary-color !important;
    }
  }
  .nav-list {
    ul {
      display: flex;
      gap: 2rem;
    }
    li {
      list-style: none;
    }
    a {
      font-size: $nav-font-size;
      color: $secondary-color;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .nav-link {
    display: inline-block;
    position: relative;
    color: $nav-link-color !important;
    border-radius: 0 !important;
  }
  .nav-pills .nav-link.active {
    background-color: transparent !important; 
    color: $primary-color !important; 
    font-weight: 600 !important;
  }
  .nav-link::after,
  .nav-link.active::after,
  .nav-link:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $onhover-color-1; /* Replace with your actual color */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .nav-link.active::after,
  .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  }
}
/*mobile nav*/
.menu-cta {
  display: none;
  i {
    font-size: 2.5rem;
  }
}
.overlay {
  height: calc(var(--vh, 1vh) * 100);
  width: 0;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  background-color: $secondary-color;
  overflow-x: hidden;
  transition: width 0.3s ease 0s;
  a:hover {
    color: $onhover-color-2 !important;
  }
}
.mobile_nav {
  @include flex-center-column ();
  li {
    list-style: none;
    padding: 10px;
  }
  a {
    font-size: $nav-font-size;
    font-weight: 500;
    color: $white-bg !important;
    text-transform: uppercase;
    transition: color 0.3s ease 0s;
  }
}
.overlay--active {
  width: 50%;
}
.overlay_content {
  @include flex-center-1 ();
  text-align: center;
  height: 100%;
}
.overlay .close {
  position: absolute;
  top: 12px;
  right: 20px;
  color: $white-bg !important;
  font-size: 2.5rem;
}
/*Navigation design end*/
/*Hero section design*/
.hero-cta {
  text-align: center;
  height: auto;
  .small-text {
    font-size: $hero-intro-font-size;
    font-weight: 300;
    color: $secondary-color;
  }
  .my-role {
    font-weight: 800;
    font-size: $hero-heading-font-size;
    color: $primary-color !important;
    text-transform: uppercase;
  }
}
.link-contact {
  .cta {
    border: none;
    background: none;
    span {
      padding-bottom: 7px;
      letter-spacing: 4px;
      padding-right: 15px;
      text-transform: uppercase;
      position: relative;
      color: $primary-color;
      padding-bottom: 10px;
      font-size: 0.875rem;
    }
    svg {
      transform: translateX(-8px);
      transition: all 0.3s ease;
    }
  }
  .cta:hover svg {
    transform: translateX(0);
  }
  .cta:active svg {
    transform: scale(0.9);
  }
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
.social-media {
  flex-direction: column;
  right: 2.3rem;
  bottom: 1rem;
  i {
    color: $nav-link-color;
    padding: 0.8rem;
    border-radius: 50%;
    transition: $transition-175s;
  }
}
.social-media i:nth-child(2),
.social-media i:last-child {
  padding: 0.8rem 0.9rem;
}
.social-media i:hover {
  color: $onhover-color-1;
  background-color: $low-opacity-color;
}
/*Hero section design end*/
/*About section design*/
.page-title-about {
  h2 {
    font-size: $heading-font-size;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    color: $secondary-color;
  }
  h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: $secondary-color;
    bottom: 0;
    left: 0;
  }
}
.content {
  h3 {
    text-transform: uppercase !important;
  }
}
.page-title-no-pt {
  h2 {
    font-size: $heading-font-size;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    color: $secondary-color;
  }
  h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: $secondary-color;
    bottom: 0;
    left: 0;
  }
}
.page-title-sub {
  @include flex-center-1 ();
  h2 {
    font-weight: 500;
    font-size: $sub-heading-font-size !important;
    border: 1px solid $secondary-color;
    border-width: 0px 2px;
    padding: 0 10px;
    width: max-content;
  }
}
.content {
  p {
    font-size: $paragraph-font-size;
    text-align: justify;
  }
  h3 {
    font-size: $sub-heading-font-size !important;
    font-weight: 700;
  }
}
.p-btn {
  background-color: $primary-color;
  color: $white-bg;
  font-size: $paragraph-font-size !important;
  font-weight: 500;
  height: 45px;
  border: none;
  outline: none !important;
  border-radius: 5px;
  cursor: pointer;
}
.p-btn:hover {
  background-color: $onhover-color-1;
  transition: all 0.2s ease-in-out;
}
.timeline-with-icons {
  border-left: 2px solid $secondary-color;
  position: relative;
  list-style: none;
  .timeline-item {
    position: relative;
  }
  .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }
  .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: $secondary-color;
    color: $white-bg;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    @include flex-center-1 ();
  }
  .info {
    text-align: justify;
    font-size: $paragraph-font-size;
  }
}
.timeline-item {
  h5 {
    font-size: $sub-heading-font-size !important;
  }
  p {
    font-size: $paragraph-font-size !important;
  }
}
/*Skills design*/
.skill-item {
  width: 8rem;
  height: 8rem;
  @include flex-center-1 ();
  margin-bottom: 0rem;
  transition: $transition-175s;
  background-color: rgba(68, 89, 100, 0.1);
  cursor: pointer;
}
.skill-item {
  figure {
    margin: 0 !important;
  }
  figcaption {
    font-size: $paragraph-font-size !important;
    font-weight: 400;
    text-transform: uppercase;
    color: $secondary-color;
  }
  i {
    color: $secondary-color;
  }
}
/*Skills design end*/
/*About section design end*/
/*Project design*/
.project-title-sub {
  .project-title {
    text-transform: none !important;
    font-weight: 500;
    position: relative;
    width: max-content;
    padding-bottom: 1rem;
    font-size: $sub-heading-font-size;
  }
  .project-title::before {
    content: '';
    position: absolute;
    width: 4rem;
    height: 3px;
    bottom: 0;
    left: calc(50% - 2.5rem);
    border-radius: 2px;
    background-color: $secondary-color;
  }
}
.project-content {
  border-bottom: 1px solid $secondary-color;
  img {
    width: 25rem;
    height: auto;
  }
}
.project-content:last-child {
  border: none;
}
.low-code-project {
  border-bottom: 1px solid $secondary-color;
  img {
    width: 25rem;
    height: auto;
  }
}
.low-code-project:last-child {
  border: none;
}
.project-desc {
  h3 {
    color: $onhover-color-1 !important;
    font-weight: 600 !important;
    font-size: $sub-heading-font-size !important;
    position: relative !important;
  }
  p {
    color: $secondary-color !important;
    text-align: justify !important;
  }
}
.go-to-preview {
  position: relative;
  display: inline-block;
  width: 90px;
  padding: 7px 7px;
  background-color: $primary-color;
  letter-spacing: 0.1px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.go-to-preview:hover {
  background-color: $onhover-color-1;
  padding-right: 30px;
}
.go-to-preview {
  .text {
    font-size: 1em !important;
    color: $white-bg !important;
    font-weight: 400 !important;
  }
  i {
    position: absolute;
    top: 50%;
    transform: translate(-10px, -50%);
    display: inline-block;
    font-size: 15px;
    opacity: 0;
    transition: 0.3s;
    color: $white-bg;
  }
}
.go-to-preview:hover i {
  transform: translate(5px, -50%);
  opacity: 1;
}
.go-to-code {
  position: relative;
  display: inline-block;
  width: 90px;
  padding: 7px 7px;
  border: 1px solid $primary-color;
  letter-spacing: 0.1px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.go-to-code:hover {
  padding-right: 30px;
}
.go-to-code {
  .text {
    font-size: 1em !important;
    color: $primary-color !important;
    font-weight: 400 !important;
  }
  i {
    position: absolute;
    top: 50%;
    transform: translate(-10px, -50%);
    display: inline-block;
    font-size: 15px;
    opacity: 0;
    transition: 0.3s;
    color: $primary-color;
  }
}
.go-to-code:hover i {
  transform: translate(5px, -50%);
  opacity: 1;
}
.tech-used {
  i {
    color: $secondary-color;
  }
  img {
    width: 8rem !important;
  }
}
/*Project design end*/
/*Contact design*/
.form-details {
  p {
    font-size: $paragraph-font-size;
    text-align: justify;
    color: $secondary-color;
  }
  h3 {
    font-size: $sub-heading-font-size !important;
    font-weight: 700;
    color: $secondary-color;
    text-transform: uppercase;
  }
}
.contact-details {
  i,
  a,
  span {
    color: $nav-link-color;
    font-size: $paragraph-font-size;
  }
}
.contact-details div:first-child a {
  color: rgb(67, 149, 174) !important;
}
.contact-details div:first-child a:hover {
  color: rgb(35, 167, 207) !important;
  text-decoration: underline !important;
}
.underlined {
  border: none !important;
  border-bottom: 2px solid $onhover-color-2 !important;
  border-left: 2px solid $onhover-color-2 !important;
  border-radius: 5px 0px 0px 5px !important;
  box-shadow: none !important;
  padding-left: 0.5rem !important;
  color: $primary-color !important;
  font-weight: 400 !important;
}
.underlined:focus {
  border-color: $primary-color !important;
  box-shadow: none !important;
}
.underlined::placeholder {
  color: $light-color !important;
}
/*Contact design end*/
/*Footer design*/
.footer {
  @include flex-center-1 ();
  flex-direction: column;
  gap: 0.5rem;
  background-color: $primary-color;
  padding: 1rem;
}
.social-media-footer {
  i {
    color: $light-color;
    padding: 0.8rem;
    border-radius: 50%;
    transition: $transition-175s
  }
  i:hover {
    color: $white-bg;
    background-color: $secondary-color;
  }
}
.copyright {
  p,
  span {
    font-size: $span-font-size + 0.3rem;
    color: $light-color;
  }
}
/*Footer design end*/
/*Animation*/
.fade-animation {
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.show-fade-animation {
  opacity: 1;
}
.y-axis-animation {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-30%);
  transition: all 0.9s ease-in-out;
}
.show-y-axis-animation {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
.timeline-item {
  .timeline-item:nth-child(1) {
    transition-delay: 200ms;
  }
  .timeline-item:nth-child(2) {
    transition-delay: 300ms;
  }
  .timeline-item:nth-child(3) {
    transition-delay: 400ms;
  }
}
.slide-skill-animation {
  opacity: 0;
  filter: blur(5px);
  transform: translatex(-20%);
  transition: all 0.9s ease-in-out;
}
.show-skill-animation {
  opacity: 1;
  filter: blur(0);
  transform: translatex(0);
}
.x-axis-right-animation {
  opacity: 0;
  filter: blur(5px);
  transform: translatex(10%);
  transition: all 0.9s ease-in-out;
}
.show-x-axis-right-animation {
  opacity: 1;
  filter: blur(0);
  transform: translatex(0);
}
.x-axis-left-animation {
  opacity: 0;
  filter: blur(5px);
  transform: translatex(-10%);
  transition: all 0.9s ease-in-out;
}
.show-x-axis-left-animation {
  opacity: 1;
  filter: blur(0);
  transform: translatex(0);
}
.project-content {
  .project-content:nth-child(even) {
    transition-delay: 200ms;
  }
  .project-content:nth-child(odd) {
    transition-delay: 200ms;
  }
}
.low-code-project {
  .low-code-project:nth-child(even) {
    transition-delay: 200ms;
  }
  .low-code-project:nth-child(odd) {
    transition-delay: 200ms;
  }
}
/*Animation end*/
/*Media Query*/
@media (max-width: 990px) {
  .project-content {
    display: flex;
    flex-direction: column;
  }
  .low-code-project {
    display: flex;
    flex-direction: column;
  }
  /* place the image at to top in even number lists */
  .project-content:nth-child(even) {
    flex-direction: column-reverse;
  }
  .low-code-project:nth-child(odd) {
    flex-direction: column-reverse !important;
  }
  .project-content {
    img {
      width: 100%;
    }
  }
  .low-code-project {
    img {
      width: 100%;
    }
  }
}
@media (max-width: 760px) {
  .nav-list {
    display: none;
  }
  .mobile_nav .nav-link {
    width: max-content;
    color: $onhover-color-2 !important;
  }
  .mobile_nav .nav-link:hover {
    color: $white-bg !important;
  }
  .mobile_nav .nav-link:hover::after {
    background-color: $white-bg !important;
  }
  .menu-cta {
    display: inherit;
  }
  .social-media {
    width: 50%;
    flex-direction: row;
    bottom: 1rem;
    left: 25%;
  }
}
@media (max-width: 520px) {
  .overlay .close i {
    font-size: 1.5rem;
  }
  .mobile_nav a {
    font-size: $nav-font-size;
  }
  .download-btn {
    button {
      @include flex-center-1 ();
      width: 100% !important;
    }
  }
  .message-btn {
    button {
      @include flex-center-1 ();
      width: 100% !important;
    }
  }
  .link-contact {
    .cta {
      span {
        font-size: $span-font-size;
      }
    }
  }
  .form-group {
    button {
      width: 100%;
    }
  }
}